<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <!-- we will use custom directive instead of *ngFor -->
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="" />
</div>

<!-- TODO: custom structural directive, whick can replace *ngIf -->
<ul *appTimes="5">
  <li>Hi there!</li>
</ul>

<!-- NOTE: after we rename param inside @Input() on appClass, we can use just [appClass] -->

<!-- <div>
  <h4 appClass [backgroundColor]="'orange'">{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="" />
</div> -->

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Zero page</div>
  <div *ngSwitchDefault>Another page</div>
</div> -->
